node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
!.env.example
!**/.env.example
.tanstack
.netlify
.wrangler
.output
.vinxi
__unconfig*
todos.json

# python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/

# native
apps/api/native/build/
apps/api/native/bin/*
!apps/api/native/bin/.gitkeep

# turbo
.turbo

# typescript
*.tsbuildinfo
